.title
{
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 17px;
}
.price{
  font-size: 20px;
  font-weight: bold;
}
.product
{
  width: 33.33%;
  box-sizing: border-box;
  padding: 30px;
}
.resizeImage{
    width: 50%;
    margin-left: 100px;
    height: auto;
}
.manufacturer
{
  color: #09070e
}